body
{
    margin:0px;
    background-image:url('/kcpr_fruit.jpg');
}

div.now_playing
{
    float:right;
    color:white;
    margin:10px 20px 0px 0px;
    font-family:arial;
    font-size: 20px;
}

div.item
{
    float:left;
    width:25%;
}
div.logo
{
    float:left;
    position:absolute;
    z-index:10;
}
div.menu-container
{
   padding:5px 5px 5px 5px;
   background:#334433;
   width:100%;
   margin:0px;
   height:20px;
}
div.menu
{
   text-align:center;
   font: bold 12pt "sans";
   width:60%;
   margin:0px auto;
}

a.ajax-link
{
   color: #f77;
   font: bold 12pt "sans";
   text-decoration:none;
   fill:red;
}
   
a.ajax-link:visited
{
   color: #f77;
   font: bold 12pt "sans";
   text-decoration:none;
}

div.main_content
{
   margin:10px auto;
   margin-top:20px;
   width:60%;
   background:#fff;
   padding:20px;
   
}

date
{
   color:#f5f5ff;
   background:#000000;
}

h2
{
   font-size:40px;
}

div.post
{
   float:center;
   font-family: 'Merriweather Sans', sans-serif;
   marin:0px auto;

}

div.heading
{
   width:100%;
   height:95px;
   font-size: 35px;
   background:#88BB77;
   padding:0px 0px 0px 10px;
   margin:0px;
   margin-top:-7px;
   font-family:sans-serif;
}



div.play_button
{
   width:0px; 
   height:0px; 
   border-bottom:10px solid transparent;  /* left arrow slant */
   border-top:10px solid transparent; /* right arrow slant */
   border-left:15px solid #ffffff; /* bottom, add background color here */
   font-size:0px;
   line-height:0px;
   margin: 7px 0px 0px 10px;
   float:left;
   position:absolute;
   z-index:15;
   top:85px;
}

div.play_button:hover
{
       border-left:35px solid #eeeeee; /* bottom, add background color here */
}
