#pledge_banner
{
   position:absolute;
   right:5px;
   height:85px;
   background:#f55;
   width:200px;
   font: 18pt "Lato";
   padding:5px;
   z-index:-1;
   border-left:10px solid #d22;
}
.donate_amount
{
   background:red;
   background-image:url('images/heading.svg');
}
cursive{
   font-size: 30px;
   line-height:5%;
}
#thermometer_container, #thermometer_progress{
    font-size:15pt;
}

#thermometer_container
{
    background:#ddd;
    width:100%;
}

#thermometer_progress
{
    background:#2b7;
    text-align:right;
    padding:10px;
}

#donate_window
{
   margin:0px auto;
   width:400px;
}

#donate_description
{
    background:#f57;
    padding:5px;
    color:white;
    font-family:"Lato";
}
#donate_button
{
    text-align:center;
    background:#f55;
    font-size:20px;
    font-family:"Lato";
    margin:15px auto;
    margin-top:37px;
    padding:10px;
    width:330px;
}
#donate_button:hover
{
   background:#f77;
}

#donate_button a
{
   text-decoration:none;
}

#pledge_title_area {
   font-size:100;
   height:300px;
   width:100%;
   margin:0px auto;
   text-align:center;
   background-image:url('/images/heading.svg');
   background-attachment:fixed;
   color:white;
   font-family:"Lato";
   padding-top:50px;
   margin-top:-50px;
}

#pledge_title
{
    width:700px;
    margin:0px auto;
}

#pledge_page {
   float:left;
   height:100%;
}

