h1
{
   font: "consolas";
   background-image:url('/images/heading.svg');
   background-attachment:fixed;
   color:#ffffff;
   margin:-10px;
   padding-left:10px;
   padding-right:10px;
   padding-top:100px;

}
body
{

   font-family: 'Istok Web', sans-serif;
   max-width:100%;
   width:800px;
   margin:auto;
   margin-top:0px;
   letter-spacing:1px;
}


